# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Coding\GoLang\src\github.com\aidar-darmenov\message-delivery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/message-delivery.iml
/modules.xml
/vcs.xml
